body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: rgb(249, 75, 12);
    margin-bottom: 40px;
}

.caja {
    border: 2px solid #333;
    padding: 20px;
    margin: 20px ;
    text-align: center;
    font-weight: bold;
    background-color: #f00606;
}

/* Caja con ancho fijo en píxeles */
.caja-px {
    width: 50px;
}

/* Caja con ancho relativo al ancho del viewport */
.caja-vw {
    width: 50vw; /* 50% del ancho de la pantalla */
    background-color: #8dea24;
}

/* Caja con ancho en em (relativo al tamaño de fuente) */
.caja-em {
    width: 20em; /* 20 veces el tamaño de la fuente */
    background-color: #ffe0b2;
}
