@import 'variables';
@import 'mixins';

.{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family:$font-stock;
    background-color: $background-color;
}

.dashboard {
    display: flex;
    grid-template-areas: 
        "header header"
        "sidebar content";
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: $primary-color;
    color: white;
    @include flex-center;
}

.sidebar {
    grid-area: sidebar;
    background-color: $secondary-color;
    padding: 20px;

    ul{
        list-style: none;
        li{
            margin: 10px 0;
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }   
        }
    }
}

.content {
    grid-area: content;
    padding: 20px;
    
    .card {
        @include card-style;
        margin-bottom: 20px;

        h2 {
            margin-top: 0;
        }

        p {
            color: #333;
        }
    }
}
